body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	background-color: #667a91;
	font-family: Calibri, sans-serif;
	align-content: space-between;
	height: 100dvh;
}
body > div > div{
	padding: 3px 20px;
	margin: 0px;
}
h1, h2, h3, h4 {
	color: #055cb3;
	font-weight: bold;
}
a {
	text-decoration: none;
	font-family: Comfortaa;
	font-style: normal;
	color: #043f7a;
}
button, input {
	background-color: #1870c4;
	font-family: Comfortaa;
	color: white;
	border-radius: 7px;
	margin: 2px 5px 2px 5px;
	padding: 5px;
	border: #043f7a 4px solid;
}
button:hover, input:hover {
	border: #28517a 4px solid;
	background-color: #629dd3;
}
input::placeholder {
	color:#428cd1
}

#header {
	margin: 0px;
	font-family: Comfortaa;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background-color: #1870c4;
	color: white;
	font-size: 30px;
	padding: 10px 10px 27px 10px;
}
	#header > div {
		margin: 0px;
		padding: 5px;
		text-shadow: 2px 3px  rgb(65, 93, 121);
	}
	#headerMain {
		display: inline;
	}
	#headerShow, #headerHide {
		float: right;
		padding: 0px 10px 0px 10px;
		background-color: #043f7a;
		border-radius: 5px;
	}
	#header a {
		font-style: none;
		color: white;
		margin-top: 10px;
		display: block;
	}
	.headerHidden {
		display: none !important;
	}
	.headerHidden a {
		height: 0px;
	}
#content {
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 20px;
	background-color: #bbcdde;
	box-shadow: 0px 0px 10px;
	border: 0px;
	border-radius: 10px;
}
#all {
	border: 0px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 0px 10px;
	margin-top: -20px;
	padding-top: 0px;
	overflow:auto;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
}
#footer {
	padding-top: 20px;
}
#footer > div {
	margin: 0px;
	width: 100%;
}
#logo {
	width: min(100%, 200px);
}

@media screen and (min-width: 635px) {
	#header a {
		margin: 10px;
		display: inline !important;
	}
	#headerShow, #headerHide {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	#header > div {
		width: 1200px;
		margin: 0 auto;
	}
	#content > div {
		width: 1200px;
		margin: 0 auto;
	}
	#footer > div {
		width: 1200px;
		margin: 0 auto;
	}
}
